<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !=/server-status
    RewriteRule    ^$    webroot/    [L]
    RewriteCond %{REQUEST_URI} !=/server-status
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
