body {
	padding-top: 90px;
	background-color: black;
	color: #9d9d9d;
}

h1 {
	color: #a9470a;
}

.navbar .container-fluid {
	min-height: 70px;
}

.navbar-nav > li > a {
	font-size: 16px;
}

.navbar-toggle {
	margin-top: 18px;
}

#main-nav {
	padding-top: 10px;
}

#ad-banner {
	padding: 0px;
	margin: 0px;
	min-height: 300px;
	max-height: 300px;
	background-color: white;
	text-align: center;
}

#ad-banner > a > .row {
	margin: 0px;
}

#ad-banner > a > .row > .col-xs-12 {
	padding: 0px;
}

#mobile-ad-banner {
	background-color: white;
	text-align: center;
}

.game-thumb-small {
	width: 100px;
}

.game-thumb-stream {
	width: 100%;
}

.form-control:focus {
	border-color: rgba(242,114,34,.8);
	box-shadow: 0 0 8px 4px rgba(242,114,34,.6);
	/* box-shadow: inset 0 2px 2px; */
}

.error-message {
	background-color: #222;
	color: #a94442;
	border-color: #a94442;
	border-style: solid;
	border-width: 0px 0px 0px 4px;
	padding-left: 10px;
	margin: 10px 0px 10px 0px;
}

.message {
	background-color: #222;
	color: #aa6708;
	border-color: #aa6708;
	border-style: solid;
	border-width: 0px 0px 0px 4px;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	font-size: 1.2em;
}

.message.success {
	color: #3c763d;
	border-color: #3c763d;
}

.message.success h1 {
	color: #3c763d;
}

.message.error {
	color: #a94442;
	border-color: #a94442;
}

.message.error h1 {
	color: #a94442;
}

.jumbotron {
	background-color: #222;
}

.jumbotron h1 {
	color: #a9470a;
}

.forum-discussion {
	padding: 10px;
	color: #9d9d9d;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #9d9d9d;
}

.forum-post {
	background-color: #222;
	color: #9d9d9d;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #9d9d9d;
	padding: 10px;
}

.forum-menu {
	background-color: #222;
	border-color: #337ab7;
	border-style: solid;
	border-width: 1px;
}

.forum-menu > li > a {
	color: #337ab7;
}

.forum-menu > li > a:focus, .forum-menu > li > a:hover {
	background-color: #337ab7;
}

.btn-forum {
	color: #337ab7;
	background-color: transparent;
	border-color: #337ab7;
	border-style: solid;
	border-width: 1px;
}

.croppie-container .cr-boundary {
	background-color: #222;
}

.cr-slider::-moz-range-track {
	background-color: #a9470a;
}

.newsCard {
	background-color: #222;
	min-height: 350px;
	max-height: 350px;
	margin-top: 15px;
	-webkit-box-shadow: 5px 5px 10px 0 rgb(255,255,255,0.4);
	-webkit-transition: 0.3s;
	-moz-box-shadow: 5px 5px 10px 0 rgb(255,255,255,0.4);
	box-shadow: 5px 5px 10px 0 rgb(255,255,255,0.4);
	transition: 0.3s;
}

.newsCard > a {
	color: #9d9d9d;
}

.newsCard.orange:hover {
	-webkit-box-shadow: 5px 5px 10px 0 rgb(217,93,11,0.4);
	-moz-box-shadow: 5px 5px 10px 0 rgb(217,93,11,0.4);
	box-shadow: 8px 8px 16px 0 rgba(217,93,11,0.4);
}

.newsCard.red:hover {
	-webkit-box-shadow: 5px 5px 10px 0 rgb(169,68,66,0.4);
	box-shadow: 8px 8px 16px 0 rgba(169,68,66,0.4);
}

.newsCard.green:hover {
	-webkit-box-shadow: 5px 5px 10px 0 rgb(0,153,51,0.4);
	box-shadow: 8px 8px 16px 0 rgba(0,153,51,0.4);
}

.newsCard.blue:hover {
	-webkit-box-shadow: 5px 5px 10px 0 rgb(0,92,230,0.4);
	box-shadow: 8px 8px 16px 0 rgba(0,92,230,0.4);
}

.newsCard-image > img {
	width: 100%;
	min-height: 175px;
	max-height: 175px;
}

.newsCard-title {
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.newsCard-title > h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.newsCard.orange .newsCard-title {
	color: #d95d0b;
}

.newsCard.red .newsCard-title {
	color: #a94442;
}

.newsCard.green .newsCard-title {
	color: #009933;
}

.newsCard.blue .newsCard-title {
	color: #005ce6;
}

.newsCard-description {
	min-height: 79px;
	padding-left: 5px;
	padding-right: 5px;
}

.newsCard-action {
	min-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
}

.newsCard-action > hr {
	margin-top: 0px;
	margin-bottom: 10px;
	border: 0;
	height: 2px;
}

.newsCard.orange .newsCard-action > hr {
	background-image: -webkit-linear-gradient(left, #222, #d95d0b, #222);
	background-image: -moz-linear-gradient(left, #222, #d95d0b, #222);
	background-image: -ms-linear-gradient(left, #222, #d95d0b, #222);
	background-image: -o-linear-gradient(left, #222, #d95d0b, #222);
}

.newsCard.green .newsCard-action > hr {
	background-image: -webkit-linear-gradient(left, #222, #009933, #222);
	background-image: -moz-linear-gradient(left, #222, #009933, #222);
	background-image: -ms-linear-gradient(left, #222, #009933, #222);
	background-image: -o-linear-gradient(left, #222, #009933, #222);
}

.newsCard.red .newsCard-action > hr {
	background-image: -webkit-linear-gradient(left, #222, #a94442, #222);
	background-image: -moz-linear-gradient(left, #222, #a94442, #222);
	background-image: -ms-linear-gradient(left, #222, #a94442, #222);
	background-image: -o-linear-gradient(left, #222, #a94442, #222);
}

.newsCard.blue .newsCard-action > hr {
	background-image: -webkit-linear-gradient(left, #222, #005ce6, #222);
	background-image: -moz-linear-gradient(left, #222, #005ce6, #222);
	background-image: -ms-linear-gradient(left, #222, #005ce6, #222);
	background-image: -o-linear-gradient(left, #222, #005ce6, #222);
}
